.App {
  text-align: center;
}

table {
  width: 100%;
}
td,
th {
  border: 4px solid black;
  text-align: left;
  padding: 8px;
}
td {
  background-color: #11e4d2;
}
.table-box {
  width: 1000px;
}
.inputtext{
  display: flex;
  /* justify-content: space-between; */

}
.firstName{
  width: 400px;
  height: 35px;
  background-color: chartreuse;
}
.lastName{
  width: 400px;
  height: 35px;
  background-color: chartreuse;
}
.skills{
  width: 400px;
  height: 35px;
  background-color: chartreuse;
}
.submit{
  background-color: red;
  width: 60px;
  height: 35px;
  
  
}
.form{
  display: flex;
  flex-direction: column;
}
.search{
  width: 250px;
  height: 25px;
}
.deletebutton{
  width: 80px;
  height: 30px;
  background-color: salmon;
}